*{
	margin:0;
	padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
.container {
	width:1000px;
	margin:auto;
}

header{
	overflow:hidden;
  background: #3c0b0b;
  padding-bottom:20px;
}

header .flex{
	margin-top:50px;
	overflow:hidden;
	height:100px;
}


/*HEADER LEFT*/
header .left{
	width:200px;
	float:left;
}

.left img {
	width:100px;
}

/*HEADER RIGHT*/
header .right{
	width:750px;
	float:right;
	line-height:100px;
}

header .right .button{
	border:1px solid #FFB600;
	width:160px;
	display:inline-block;
	line-height: 22px;
  margin-top: 20px;
	background:#FFB600;
	padding:5px 20px;
	border-radius:5px;
}

header .right .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.right li {
	list-style:none;
	float:left;
	text-align:center;
	padding-right:50px;
}

.right li a {
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

.right .active{
  color:#F00;
}

.right li a:hover {
	color:#F00;
}

.location{
  background-color: #d02a2a;
}

.location p{
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
}

/*ORDER*/
#order {
	background:url(images/texture_pattern_2X.jpg) repeat;
}

#order h1 {
	color: #9f1d37;
	padding-top: 40px;
	text-align: center;
  font-size: 45px;
}

#order img {
	padding-bottom: 40px;
	padding-top: 10px;
  width: 100%;

}

#order .orderContainer {
	width: 1000px;
	margin: auto;
}

/*article*/
article {
	background:url(images/character_pattern_2X.jpg) repeat;
}

article .articleContainer {
	width:1000px;
	margin:auto;
	overflow: hidden;
}

article .articleContainer h1 {
	color: #fff;
	padding: 40px 0;
	font-size: 65px;
	text-align: center;
}

/*articleLeft*/
article .articleContainer .articleLeft {
	width: 500px;
	float: left;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1{
	margin: 40px 0;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1{
	padding-bottom: 40px;
}

article .articleContainer .articleLeft .content1 .cLeft {
	float: left;
	width: 250px;
	margin-top: 20px;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1 .cLeft h2{
	padding-bottom: 20px;
}

article .articleContainer .articleLeft .content1 .title h3{
	width: 500px;
	float: left;
	padding-top: 20px;
}

article .articleContainer .articleLeft .content1 .cLeft h4 {
	color: #e91717;
}

article .articleContainer .articleLeft .content1 .cLeft p{
	color: #fff;
}

article .articleContainer .articleLeft .content1 .cRight{
	float: right;
	width: 250px;
}

article .articleContainer .articleLeft .content1 .cRight img{
	width: 200px;
}

/*articleRight*/
article .articleContainer .articleRight {
	width: 500px;
	float: right;
	overflow: hidden;
}

article .articleContainer .articleRight .content1{
	margin: 40px 0;
	overflow: hidden;
}

article .articleContainer .articleRight .content1{
	padding-bottom: 40px;
}

article .articleContainer .articleRight .content1 .cLeft {
	float: left;
	width: 250px;
	margin-top: 20px;
	overflow: hidden;
}

article .articleContainer .articleRight .content1 .cLeft h2{
	padding-bottom: 20px;
}

article .articleContainer .articleRight .content1 .title h3{
	width: 500px;
	float: left;
	padding-top: 20px;
}

article .articleContainer .articleRight .content1 .cLeft h4 {
	color: #e91717;
}

article .articleContainer .articleRight .content1 .cLeft p{
	color: #fff;
}

article .articleContainer .articleRight .content1 .cRight{
	float: right;
	width: 250px;
}

article .articleContainer .articleRight .content1 .cRight img{
	width: 200px;
}



/*general*/
img{
  width: 100%;
}

/*toopings*/
.topping{
  background:url(images/texture_pattern_2X.jpg) repeat;
  margin-top: -5px;
}

.toppingContainer{
  width:1000px;
	margin:auto;
	overflow: hidden;
}

.topping h1{
  color: #c41515;
	padding-top:40px;
	font-size: 65px;
	text-align: center;
}

.topping h2{
  color: #d1b62a;
  text-align: center;
  padding-bottom: 10px;
}

.topping h2 span{
  text-align: center;
  color: #000000;
  padding-left:30px;
}

.topping p{
  text-align: center;
  padding-bottom: 30px;
}

/*toopingsLeft*/
.toppingLeft{
  width: 500px;
	float: left;
	overflow: hidden;
}

/*toopingsRight*/
.toppingRight{
  width: 500px;
	float: right;
	overflow: hidden;
}

/*Content*/
.content{
  overflow: hidden;
  padding: 20px 0;
}

.content h2{
  color: #000000;
  text-align: left;
}

.content p {
  text-align: left;
}

.contentLeft{
  width: 400px;
  float: left;
}

.contentRight{
  width: 100px;
  float: right;
}

/*sides*/
.sides{
  background:url(images/texture_pattern_2X.jpg) repeat;
  margin-top: -5px;
	padding-bottom: 20px;
}

.sidesContainer{
  width:1000px;
	margin:auto;
	overflow: hidden;
}

.sides h1{
  color: #c41515;
	padding-top:40px;
	font-size: 65px;
	text-align: center;
}

/*sidesLeft*/
.sidesLeft{
  width: 500px;
	float: left;
	overflow: hidden;
}

/*sidesRight*/
.sidesRight{
  width: 500px;
	float: right;
	overflow: hidden;
}

/*drinks*/
.drinks{
  background:url(images/texture_pattern_2X.jpg) repeat;
  margin-top: -5px;
	padding-bottom: 20px;
}

.drinksContainer{
  width:1000px;
	margin:auto;
	overflow: hidden;
}

.drinks h1{
  color: #c41515;
	padding-top:40px;
	font-size: 65px;
	text-align: center;
}

.drinks h2{
  color: #d1b62a;
  text-align: center;
  padding-bottom: 10px;
}
.drinks p{
  text-align: center;
}

.drinks ul {

}

.drinks ul li{
	float: left;
	width: 250px;
	padding: 20px 0;
	list-style: none;
	text-align: center;
	font-size: 25px;
}



/*sidesLeft*/
.drinksLeft{
  width: 500px;
	float: left;
	overflow: hidden;
}

/*sidesRight*/
.drinksRight{
  width: 500px;
	float: right;
	overflow: hidden;
}
