*{
	margin:0;
	padding:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: url(images/wood.jpg) no-repeat;
	background-size:100%;

}

/*HEADER*/
.container {
	width:1000px;
	margin:auto;
}

header{
	overflow:hidden;
}

header .schedule{
	color:#fff;
	font-size:25px;
	overflow: hidden;
}

header .schedule h1 {
	color:#fff;
	font-size:90px;
	text-align: center;
}

header .schedule .pLeft{
	width: 400px;
	float: left;
	text-align: right;
}

header .schedule .pRight{
	width: 400px;
	float: right;
	margin-left: 10px;
}

header .flex{
	margin-top:50px;
	overflow:hidden;
	height:100px;
}


/*HEADER LEFT*/
header .left{
	width:200px;
	float:left;
}

.left img {
	width:100px;
}

/*HEADER RIGHT*/
header .right{
	width:750px;
	float:right;
	line-height:100px;
}

header .right .button{
	border:1px solid #FFB600;
	width:180px;
	display:inline-block;
	line-height: 22px;
  margin-top: 20px;
	background:#FFB600;
	padding:5px 10px;
	border-radius:5px;
}

header .right .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.right li {
	list-style:none;
	float:left;
	text-align:center;
	padding-right:50px;
}

.right li a {
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

.right li a:hover {
	color:#F00;
}

.wraping img {
	width: 100%;
	margin-top:30px;
	-moz-margin-top:27px;
}

/*ORDER*/
#order {
	background:url(images/texture_pattern_2X.jpg) repeat;
}

#order h1 {
	color: #9f1d37;
	padding-top: 40px;
	text-align: center;
}

#order img {
	margin: auto;
	padding-bottom: 40px;
	padding-top: 10px;
}

#order .orderContainer {
	width: 600px;
	margin: auto;
}

/*article*/
article {
	background:url(images/character_pattern_2X.jpg) repeat;
}

article .articleContainer {
	width:1000px;
	margin:auto;
	overflow: hidden;
}

article .articleContainer h1 {
	color: #fff;
	padding: 40px 0;
	font-size: 45px;
	text-align: center;
}

/*articleLeft*/
article .articleContainer .articleLeft {
	width: 500px;
	float: left;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1{
	margin: 40px 0;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1{
	padding-bottom: 40px;
}

article .articleContainer .articleLeft .content1 .cLeft {
	float: left;
	width: 250px;
	margin-top: 20px;
	overflow: hidden;
}

article .articleContainer .articleLeft .content1 .cLeft h2{
	padding-bottom: 20px;
}

article .articleContainer .articleLeft .content1 .title h3{
	width: 500px;
	float: left;
	padding-top: 20px;
}

article .articleContainer .articleLeft .content1 .cLeft h4 {
	color: #e91717;
}

article .articleContainer .articleLeft .content1 .cLeft p{
	color: #fff;
}

article .articleContainer .articleLeft .content1 .cRight{
	float: right;
	width: 250px;
}

article .articleContainer .articleLeft .content1 .cRight img{
	width: 200px;
}

/*articleRight*/
article .articleContainer .articleRight {
	width: 500px;
	float: right;
	overflow: hidden;
}

article .articleContainer .articleRight .content1{
	margin: 40px 0;
	overflow: hidden;
}

article .articleContainer .articleRight .content1{
	padding-bottom: 40px;
}

article .articleContainer .articleRight .content1 .cLeft {
	float: left;
	width: 250px;
	margin-top: 20px;
	overflow: hidden;
}

article .articleContainer .articleRight .content1 .cLeft h2{
	padding-bottom: 20px;
}

article .articleContainer .articleRight .content1 .title h3{
	width: 500px;
	float: left;
	padding-top: 20px;
}

article .articleContainer .articleRight .content1 .cLeft h4 {
	color: #e91717;
}

article .articleContainer .articleRight .content1 .cLeft p{
	color: #fff;
}

article .articleContainer .articleRight .content1 .cRight{
	float: right;
	width: 250px;
}

article .articleContainer .articleRight .content1 .cRight img{
	width: 200px;
}

/*join*/
#join{
	background:url(images/texture_pattern_2X.jpg) repeat;
}

#join h1{
	color: #9f1d37;
	padding-top: 40px;
	text-align: center;
}

#join h3{
	color:#c8854e;
	padding-bottom: 50px;
	text-align: center;
}

/*imgFooter*/
.imgFooter .img1 img {
	width: 33.495%;
	margin-left: -5px;
}

/*footer*/
footer{
	background: #2e222e;
	margin-top: -5px;
	padding: 20px 0;
}

footer table tr .imgFooter{
	width:200px;
	margin:auto;
}

footer table tr .container {
	width:600px;
	margin:auto;
	color: #fff;
}

footer table tr .container p{
	text-align: center;
}

.button a{
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

footer table tr .button{
	border:1px solid #FFB600;
	width:180px;
	display:inline-block;
	line-height: 22px;
	background:#FFB600;
	padding:5px 10px;
	border-radius:5px;
}

footer table tr .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

footer img {
	width: 200px;

}
