*{
	margin:0;
	padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background:url(images/texture_pattern_2X.jpg) repeat;
}

/*HEADER*/
.container {
	width:1000px;
	margin:auto;
}

header{
	overflow:hidden;
  background: #3c0b0b;
  padding-bottom:20px;
}

header .flex{
	margin-top:50px;
	overflow:hidden;
	height:100px;
}


/*HEADER LEFT*/
header .left{
	width:200px;
	float:left;
}

.left img {
	width:100px;
}

/*HEADER RIGHT*/
header .right{
	width:750px;
	float:right;
	line-height:100px;
}

header .right .button{
	border:1px solid #FFB600;
	width:160px;
	display:inline-block;
	line-height: 22px;
  margin-top: 20px;
	background:#FFB600;
	padding:5px 20px;
	border-radius:5px;
}

header .right .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.right li {
	list-style:none;
	float:left;
	text-align:center;
	padding-right:50px;
}

.right li a {
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

.right .active{
  color:#F00;
}

.right li a:hover {
	color:#F00;
}

.location{
  background-color: #d02a2a;
}

.location p{
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
}

/*certified*/
.certified {
  padding-bottom: 50px;
  overflow: hidden;
}

.certified h1 {
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 50px;
}

.certified p{
  color: #657c6e;
  padding: 0 40px;
}

.certified .container{
  width: 1000px;
  margin: auto;
}

.certifiedLeft{
  width: 500px;
  float: left;
}

.certifiedRight{
  width: 500px;
  float: right;
}

/*img1*/
.img1 img{
  width: 33.495%;
  margin-left: -5px;
}

/*story*/
.story{
  padding-bottom: 100px;
  overflow: hidden;
}

.story h1{
  text-align: center;
  padding: 50px 0 30px 0;
  font-size: 50px;
}

.story p{
  color: #657c6e;
  padding: 0 55px;
}

.story p span {
  color: #ff0000;
}

.story .container{
  width: 1000px;
  margin: auto;
}

.storyLeft{
  width: 500px;
  float: left;
}

.storyRight{
  width: 500px;
  float: right;
}

/*footer*/
footer{
	background: #2e222e;
	margin-top: -5px;
	padding: 20px 0;
}

footer table tr .imgFooter{
	width:200px;
	margin:auto;
}

footer table tr .container {
	width:600px;
	margin:auto;
	color: #fff;
}

footer table tr .container p{
	text-align: center;
}

.button a{
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

footer table tr .button{
	border:1px solid #FFB600;
	width:160px;
	display:inline-block;
	line-height: 22px;
	background:#FFB600;
	padding:5px 20px;
	border-radius:5px;
}

footer table tr .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

footer img {
	width: 200px;
}
