*{
	margin:0;
	padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background:url(images/texture_pattern_2X.jpg) repeat;
}

/*HEADER*/
.container {
	width:1000px;
	margin:auto;
}

header{
	overflow:hidden;
  background: #3c0b0b;
  padding-bottom:20px;
}

header .flex{
	margin-top:50px;
	overflow:hidden;
	height:100px;
}


/*HEADER LEFT*/
header .left{
	width:200px;
	float:left;
}

.left img {
	width:100px;
}

/*HEADER RIGHT*/
header .right{
	width:750px;
	float:right;
	line-height:100px;
}

header .right .button{
	border:1px solid #FFB600;
	width:160px;
	display:inline-block;
	line-height: 22px;
  margin-top: 20px;
	background:#FFB600;
	padding:5px 20px;
	border-radius:5px;
}

header .right .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

.right li {
	list-style:none;
	float:left;
	text-align:center;
	padding-right:50px;
}

.right li a {
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

.right .active{
  color:#F00;
}

.right li a:hover {
	color:#F00;
}

.location{
  background-color: #d02a2a;
}

.location p{
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px 0;
}

/*article*/
article{
	overflow: hidden;
}

article .container{
  width: 1000px;
  margin: auto;
}

article .container h1{
  font-size: 65px;
  text-align: center;
  padding: 80px 0;
}

/*articleLeft*/
.articleLeft {
  width: 695px;
  float: left;
}

.articleLeft img{
	width: 100%;
}

.articleLeft .content .posted{
	color: #debf3c;
	padding-bottom: 30px;
}

.articleLeft .content{
	padding-bottom: 100px;
}

.articleLeft .content h2 {
	font-size: 35px;
	padding: 40px 0 5px 0;
}

.articleLeft .content p {
	font-size: 21px;
	color: #657c6e;
	padding-bottom: 10px;
}

/*articleRight*/
.articleRight {
  width: 255px;
  float: right;
	padding-left: 50px;
	overflow: hidden;
}

.articleRight .sosial h2{
	color: #debf3c;
	text-align: center;
	padding-bottom: 30px;
	font-size: 29px;
}

.articleRight .sosial img {
	width: 150px;
	padding-left: 100px;
	padding-bottom: 30px;
}

.articleRight .review{
	overflow: hidden;
}

.articleRight .review .left {
	width: 100px;
	float: left;
	overflow: hidden;
}

.articleRight .review .right {
	width: 150px;
	float: right;
	overflow: hidden;
}

.articleRight .review .right h3{
	color: #657c6e;
}

.articleRight .review .right img {
	width: 80%;
}

.articleRight .recent h3{
	text-align: center;
	padding-top: 50px;
	color: #657c6e;
}

/*content*/
.articleRight .content{
	padding: 20px 0 20px 50px;
	width: 255px;
	float: right;
	overflow: hidden;
}

.articleRight .content img{
	float: left;
	width: 100px;
	padding: 0 10px 5px 0;
}

.articleRight .content h3{
	color: #657c6e;
}

.articleRight .content .note h3{
	padding-bottom: 10px;
	color: #657c6e;
}

.articleRight .content .note img{
	overflow: hidden;
	padding-right: 20px;
}

.articleRight .content a{
	text-decoration: none;
	color: #af2f06;
}

.articleRight .content a:hover{
	color: #f93307;
}

/*footer*/
footer{
	background: #2e222e;
	margin-top: -5px;
	padding: 20px 0;
}

footer table tr .imgFooter{
	width:200px;
	margin:auto;
}

footer table tr .container {
	width:600px;
	margin:auto;
	color: #fff;
}

footer table tr .container p{
	text-align: center;
}

.button a{
	text-decoration:none;
	color:#fff;
	font-size:18px;
}

footer table tr .button{
	border:1px solid #FFB600;
	width:160px;
	display:inline-block;
	line-height: 22px;
	background:#FFB600;
	padding:5px 20px;
	border-radius:5px;
}

footer table tr .button:hover{
	border:1px solid #FF0004;
	background:#FF0004;
	color:#fff;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

footer img {
	width: 200px;

}
